/*doc
---
title: futura
name: ys-futura
parent: ys-overwrites
---

Futura font style.

*/
$b__ys__font__futura--import: '../../ys/fonts/futura/styles.css';

$b__ys__font__futura: 'Futura', 'Helvetica', Arial, sans-serif;
